<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default2.aspx.vb" Inherits="Default2" %>
<%@ Register Assembly="MagicAjax" Namespace="MagicAjax.UI.Controls" TagPrefix="ajax" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>   
    <iframe src="GraphicalTransactionAnalysisView.aspx?AccountNo=<%=Me.Request.Params.Item("AccountNo").ToString()%>&StartDate=<%=Sahassa.AML.Commonly.ConvertToDate("yyyy-MM-dd", Me.Request.Params.Item("StartDate")).ToString ("yyyy-MM-dd")%>&EndDate=<%=Sahassa.AML.Commonly.ConvertToDate("yyyy-MM-dd", Me.Request.Params.Item("EndDate")).ToString ("yyyy-MM-dd")%>" width="1000" height="1100" scrolling="yes" >
    </iframe>    
    </div>
    </form>
</body>
</html>
