<html>
<head>
    <title>Link Analysis Menu</title>
</head>
<body bgcolor="#33cc66" >
<table cellpadding="1" cellspacing="1" border="0">
    <tr >
        <td align=right style="height: 14px" bgcolor="#006600" ><a href="Javascript:parent.HideMenu();" style="font-size: 12px; color: white; font-family: Verdana; font-weight: bold;">Close [X]</a></td>
    </tr>
    <tr  bgcolor="#ffffcc">
        <td style="height: 14px"><a href="Javascript:parent.Expand();" style="font-weight: bold; font-size: 12px; color: black; font-family: Verdana">Expand</a></td>
    </tr>
    <tr  bgcolor="#ffffff">
        <td><a href="Javascript:parent.ShowCustomerCustomerProfile();" style="font-weight: bold; font-size: 12px; color: black; font-family: Verdana">Show Customer Profile</a></td>
    </tr>                
  </table>
</body>
</html>
