<%@ Page Language="VB"  AutoEventWireup="false" CodeFile="MenuPreviewOld.aspx.vb" Inherits="MenuPreviewOld" title="Menu Preview Old" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">	
	<link href="theme/aml.css" type="text/css" rel="stylesheet">
	<script src="script/x_load.js" type="text/javascript"></script>
	<script language="JavaScript1.2" src="script/stm31.js" type="text/javascript"></script>
	<script language="javascript">xInclude('script/x_core.js');</script>	
	<script src="script/aml.js" type="text/javascript"></script>
    <script src="script/shsmenu.js"></script>	
</head>
<body>
<form id="form1" runat="server">
    <P>
			<script language="javascript">
		<% 
			if (Request.HttpMethod.ToUpper().Equals("POST")) then 
			    Response.Write(Request.Form.GetValues("sothinkold")(0))
			end if 
		%>
			</script>
		</P>
		</form>
</body></html>
