
<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="MessagePending.aspx.vb" Inherits="MessagePending" title="Message Pending" %>
<%@ Register Assembly="MagicAjax" Namespace="MagicAjax.UI.Controls" TagPrefix="ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cpContent" Runat="Server">
    <table id="Table2" bgcolor="#dddddd" border="2" bordercolor="#ffffff" cellpadding="2"
        cellspacing="1" style="position: static; width: 100%; border-top-style: none; border-right-style: none; border-left-style: none; border-bottom-style: none;">
        <tr class="formText">
            <td  bgcolor="#ffffff" rowspan="2" style="width: 963px; height: 116px" align="center">
                &nbsp;<table id="Table1" bgcolor="#dddddd" border="2" bordercolor="#ffffff" cellpadding="2"
        cellspacing="1" style="position: static" width="70%">
        <tr class="formText">
            <td align="center" bgcolor="#ffffff" rowspan="2">
                <asp:Label ID="LabelMessagePendingID" runat="server"></asp:Label><br />
                <br />
                <asp:Label ID="LabelMessage" runat="server"></asp:Label><br />
                <br />
            </td>
        </tr>
        <tr class="formText">
        </tr>
        <tr  bgcolor="#dddddd" class="formText" height="30" align="center">
            <td  colspan="3" style="width: 100%" align="center">
                <asp:ImageButton ID="ImageButtonOK" runat="server" SkinID="OKButton" />
                <br />
                <asp:CustomValidator ID="cvalPageErr" runat="server" Display="None"></asp:CustomValidator></td>
        </tr>
                </table>
            </td>
        </tr>
        <tr class="formText">
        </tr>
    </table>
</asp:Content>
