﻿.tabs
{
    z-index:99;
    color:black; 
    top:1px;
    font-family:MS Sans Serif, Verdana; 
    font-size:10px; 
    cursor:default;           
}
.tab
{
    color:black; 
    border: 1px solid #919B9C;
    font-family:MS Sans Serif, Verdana; 
    font-size:10px; 
    cursor:default;
    padding:3px 2px ;
    background-image: url(Images/TabImages/grd2.gif);
}
.selectedTab
{
color:black; 
background-image: url(Images/TabImages/selected_tab_bg.gif);
font-family:MS Sans Serif, Verdana; 
font-size:10px; 
cursor:default;
border-bottom:solid 1px white;

}
.tabContents
{
background-color:White;
border: 1px solid #919B9C;
width:900px;
height:150px; 
left:0px;
z-index:98;  
padding:10px;

}
