<%@ Page Language="VB" MasterPageFile="~/masterpage.master" AutoEventWireup="false" CodeFile="VerificationListUploadOFACSDN.aspx.vb" Inherits="VerificationListUploadOFACSDN" title="Verification List Upload - OFAC SDN List" %>
<%@ Register Assembly="MagicAjax" Namespace="MagicAjax.UI.Controls" TagPrefix="ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cpContent" Runat="Server"><table id="title"  border="2" bordercolor="#ffffff" cellpadding="2"
        cellspacing="1" height="72" style="border-top-style: none; border-right-style: none;
        border-left-style: none; border-bottom-style: none" width="100%"><tr><td bgcolor="#ffffff" colspan="4" style="font-size: 18px; border-top-style: none;
                border-right-style: none; border-left-style: none; height: 24px; border-bottom-style: none"><strong>Verification List Upload - OFAC SDN List&nbsp;<br /></strong><asp:Label ID="LblSuccess" runat="server" CssClass="validationok" Visible="False"
                    Width="95%"></asp:Label></td></tr><tr class="formText"><td bgcolor="#ffffff" colspan="4" style="border-top-style: none; border-right-style: none;
                border-left-style: none; height: 24px; border-bottom-style: none"><span style="color: #ff0000">* Required</span></td></tr></table><table borderColor="#ffffff" cellSpacing="1" cellPadding="2" width="100%" bgColor="#dddddd"
		border="2" height="72" style="border-top-style: none; border-right-style: none; border-left-style: none; border-bottom-style: none"><tr class="formText"><td bgcolor="#ffffff" style="height: 24px" colspan="4"><%--                <ajax:AjaxPanel ID="AjaxPanel1" runat="server" Width="99%">--%><table style="width: 99%; height: 56px" cellSpacing="0" cellPadding="0"><tr><td rowspan="3" style="width: 24px; height: 24px"><asp:RequiredFieldValidator ID="RequiredFieldValidatorDateofData" runat="server"
                                    ErrorMessage="Date of Data is required." ControlToValidate="TextDateofData">*</asp:RequiredFieldValidator></td><td rowspan="3" style="width: 10%; height: 24px;">Date of Data</td><td rowspan="3" style="width: 5px; height: 24px;" align="center">:</td><td rowspan="3" style="height: 24px">&nbsp;<asp:TextBox ID="TextDateofData" runat="server" CssClass="textbox" TabIndex="2"></asp:TextBox> <input
                        id="popUp" runat="server" name="popUpCalc" style="border-right: #ffffff 0px solid;
                        border-top: #ffffff 0px solid; font-size: 11px; border-left: #ffffff 0px solid;
                        border-bottom: #ffffff 0px solid; height: 17px; background-image: url(Script/Calendar/cal.gif); width: 16px;" title="Click to show calendar"
                        type="button" /></td></tr><tr></tr><tr></tr><tr><td rowspan="1" style="width: 24px; height: 24px"><asp:RegularExpressionValidator ID="RegularExpressionValidatorSDN" runat="server" ControlToValidate="FileUploadSDN"
                                   ErrorMessage="Upload a .csv files only for the SDN section." ValidationExpression="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))(.csv|.CSV)$">*</asp:RegularExpressionValidator><asp:RequiredFieldValidator
                                       ID="RequiredFieldValidator1" runat="server" ControlToValidate="FileUploadADD"
                                       Display="Dynamic" ErrorMessage="ADD is required.">*</asp:RequiredFieldValidator></td><td rowspan="1" style="width: 10%; height: 24px">SDN</td><td  rowspan="1" style="width: 5px" align="center">:</td><td rowspan="1">&nbsp;<asp:FileUpload ID="FileUploadSDN" runat="server" CssClass="textbox" Width="640px" />&nbsp;</td></tr><tr ><td rowspan="1" style="width: 24px; height: 24px"><asp:RegularExpressionValidator ID="RegularExpressionValidatorALT" runat="server"
                                   ControlToValidate="FileUploadALT" ErrorMessage="Upload a .csv files only for the ALT section."
                                   ValidationExpression="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))(.csv|.CSV)$">*</asp:RegularExpressionValidator> <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="FileUploadALT"
                                   Display="Dynamic" ErrorMessage="ALT is required.">*</asp:RequiredFieldValidator></td><td rowspan="1" style="width: 10%; height: 24px">ALT</td><td  rowspan="1" style="width: 5px" align="center">:</td><td rowspan="1">&nbsp;<asp:FileUpload ID="FileUploadALT" runat="server" CssClass="textbox" Width="640px" /> </td></tr><tr ><td rowspan="1" style="width: 24px; height: 24px"><asp:RegularExpressionValidator ID="RegularExpressionValidatorADD" runat="server" ControlToValidate="FileUploadADD"
                                   ErrorMessage="Upload a .csv files only for the ADD section." ValidationExpression="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))(.csv|.CSV)$">*</asp:RegularExpressionValidator> <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ControlToValidate="FileUploadADD"
                                   Display="Dynamic" ErrorMessage="SDN is required.">*</asp:RequiredFieldValidator></td><td rowspan="1" style="width: 10%; height: 24px">ADD</td><td align="center" rowspan="1" style="width: 5px">:</td><td rowspan="1">&nbsp;<asp:FileUpload ID="FileUploadADD" runat="server" CssClass="textbox" Width="640px" /> </td></tr><tr class="formText" bgColor="#dddddd" height="30"><td style="width: 24px"><IMG height="15" src="images/arrow.gif" width="15"></td><td colSpan="3" style="height: 9px"><table cellSpacing="0" cellPadding="3" border="0"><tr><td><asp:imagebutton id="ImageSave" runat="server" CausesValidation="True" SkinID="UpdateButton"></asp:imagebutton></td><td><asp:imagebutton id="ImageCancel" runat="server" CausesValidation="False" SkinID="CancelButton"></asp:imagebutton></td></tr></table><asp:CustomValidator ID="cvalPageError" runat="server" Display="None"></asp:CustomValidator></td></tr></table><%--</ajax:AjaxPanel>--%></td></tr></table>
</asp:Content>

